<?xml version="1.0"?>
<config>
    <modules>
        <Space48_Lazyjs>
            <version>0.1.0</version>
        </Space48_Lazyjs>
    </modules>
    <global>
        <models>
            <space48_lazyjs>
                <class>Space48_Lazyjs_Model</class>
            </space48_lazyjs>
        </models>
    </global>
    <frontend>
        <cache>
            <requests>
                <_no_route>space48_lazyjs/pageCache_processor_noroute</_no_route>
                <cms>space48_lazyjs/pageCache_processor_default</cms>
                <catalog>
                    <category>
                        <view>space48_lazyjs/pageCache_processor_category</view>
                    </category>
                </catalog>
                <catalog>
                    <product>
                        <view>space48_lazyjs/pageCache_processor_product</view>
                    </product>
                </catalog>
            </requests>
        </cache>
    </frontend>
</config>